@font-face {
  font-family: "Breamcatcher";
  src: url(../fonts/breamcatcher.ttf); }
@font-face {
  font-family: "Atlantis";
  src: url(../fonts/Atlantic_Cruise-Demo.ttf); }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative; }

p {
  font: 20px Cambria;
  text-align: justify; }

.linea-divisoria {
  margin: 80px 0px; }

.seccion {
  padding-top: 50px; }

/* ***BARRA SOCIAL*** */
.social {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 2000; }
  .social ul {
    list-style: none; }
    .social ul li .icon-facebook {
      background: #3b5998; }
    .social ul li .icon-twitter {
      background: #00abf0; }
    .social ul li .icon-google {
      background: #d95232; }
    .social ul li .icon-pinterest {
      background: #ae181f; }
    .social ul li .icon-mail {
      background: #666666; }
    .social ul li a {
      display: inline-block;
      color: white;
      background: black;
      padding: 10px 15px;
      text-decoration: none;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      .social ul li a:hover {
        padding: 10px 30px;
        background: #000; }

/* ***FIN BARRA SOCIAL*** */
/* ***MENU*** */
#titulo-menu {
  font: 24px Old English Text MT; }
  #titulo-menu:hover {
    color: black; }

#contacto, #verde, #amarrillo, #rojo {
  font: 19px Cambria;
  letter-spacing: 2px;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; }

#contacto:hover {
  color: black;
  background: -o-linear-gradient(#007A00, #FFD700, #B22121);
  background: -ms-linear-gradient(#007A00, #FFD700, #B22121);
  background: -moz-linear-gradient(#007A00, #FFD700, #B22121);
  background: -webkit-linear-gradient(#007A00, #FFD700, #B22121);
  background: linear-gradient(#007A00, #FFD700, #B22121);
  border-radius: 19px; }

#verde:hover {
  color: #007a00;
  text-shadow: #C6C6C6 2px 2px 2px; }

#amarrillo:hover {
  color: gold;
  text-shadow: #C6C6C6 2px 2px 2px; }

#rojo:hover {
  color: #b22121;
  text-shadow: #C6C6C6 2px 2px 2px; }

/* ***FIN MENU*** */
/* ***CAROUSEL*** */
.mensaje-imagen {
  color: black;
  font-family: Cambria;
  text-shadow: slategray 2px 2px 2px; }

#indicador {
  border-color: black; }

#carousel-1 {
  padding-top: 54px; }

/* ***FIN CAROUSEL*** */
/* ***CONSTANCIA E INSPIRACION*** */
.titulo {
  border-bottom: 8px groove #007A00;
  font: 47px Breamcatcher;
  margin: 0 50px; }

.valores {
  margin-left: 100px;
  margin-right: 100px; }

/* ***FIN CONSTANCIA E INSPIRACION*** */
/* ***BARRA DE PROGRESO*** */
.sub-titulo {
  border-bottom: 8px groove #007A00;
  font: 30px Goudy Old Style;
  margin: 0 50px; }

.progreso {
  margin-left: 35px;
  width: 93%; }

.estatud {
  font-family: Lucida Bright; }

/* ***FIN BARRA DE PROGRESO*** */
/* ***PRODUCTOS Y SERVICIOS*** */
.item {
  font-family: Goudy Old Style; }

.sangria {
  padding-left: 20px; }

/* ***FIN PRODUCTOS Y SERVICIOS*** */
/* ***FORMULARIO*** */
.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey; }

.contenedor-formulario {
  width: 100%;
  color: #f2f2f2;
  padding: 50px; }
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto; }
    .contenedor-formulario .formulario .input-grupo {
      position: relative;
      margin-bottom: 32px; }
      .contenedor-formulario .formulario .input-grupo input[type="text"],
      .contenedor-formulario .formulario .input-grupo input[type="email"],
      .contenedor-formulario .formulario .input-grupo input[type="password"],
      .contenedor-formulario .formulario .input-grupo textarea {
        font-family: "Roboto", Arial;
        font-size: 16px;
        color: #303F9F;
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #BBDEFB; }
        .contenedor-formulario .formulario .input-grupo input[type="text"]:focus, .contenedor-formulario .formulario .input-grupo input[type="text"]:active,
        .contenedor-formulario .formulario .input-grupo input[type="email"]:focus,
        .contenedor-formulario .formulario .input-grupo input[type="email"]:active,
        .contenedor-formulario .formulario .input-grupo input[type="password"]:focus,
        .contenedor-formulario .formulario .input-grupo input[type="password"]:active,
        .contenedor-formulario .formulario .input-grupo textarea:focus,
        .contenedor-formulario .formulario .input-grupo textarea:active {
          outline: none;
          border-bottom: 2px solid #303F9F; }
        .contenedor-formulario .formulario .input-grupo input[type="text"].error,
        .contenedor-formulario .formulario .input-grupo input[type="email"].error,
        .contenedor-formulario .formulario .input-grupo input[type="password"].error,
        .contenedor-formulario .formulario .input-grupo textarea.error {
          border-bottom: 2px solid #D32F2F; }
          .contenedor-formulario .formulario .input-grupo input[type="text"].error + label,
          .contenedor-formulario .formulario .input-grupo input[type="email"].error + label,
          .contenedor-formulario .formulario .input-grupo input[type="password"].error + label,
          .contenedor-formulario .formulario .input-grupo textarea.error + label {
            color: #D32F2F; }
      .contenedor-formulario .formulario .input-grupo label {
        color: #303F9F; }
        .contenedor-formulario .formulario .input-grupo label.label {
          position: absolute;
          top: 16px;
          left: 0;
          font-size: 16px;
          line-height: 16px;
          margin-left: 16px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .contenedor-formulario .formulario .input-grupo label.label.active {
            top: -12px;
            font-size: 12px;
            line-height: 12px;
            color: #B6B6B6; }
      .contenedor-formulario .formulario .input-grupo.checkbox label, .contenedor-formulario .formulario .input-grupo.radio label {
        display: inline-block;
        cursor: pointer;
        color: #303F9F;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario .input-grupo.checkbox label:hover, .contenedor-formulario .formulario .input-grupo.radio label:hover {
          background: #bbdefb; }
        .contenedor-formulario .formulario .input-grupo.checkbox label:before, .contenedor-formulario .formulario .input-grupo.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
          border: 2px solid #303F9F; }
      .contenedor-formulario .formulario .input-grupo.error label {
        color: #D32F2F; }
        .contenedor-formulario .formulario .input-grupo.error label:hover {
          background: rgba(211, 47, 47, 0.2); }
        .contenedor-formulario .formulario .input-grupo.error label:before {
          border: 2px solid #D32F2F; }
      .contenedor-formulario .formulario .input-grupo.radio input[type="radio"] {
        display: none; }
        .contenedor-formulario .formulario .input-grupo.radio input[type="radio"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-grupo.radio input[type="radio"]:checked + label {
          padding: 5px 15px;
          background: #303F9F;
          border-radius: 2px;
          color: #f2f2f2; }
      .contenedor-formulario .formulario .input-grupo.checkbox label:before {
        border-radius: 3px; }
      .contenedor-formulario .formulario .input-grupo.checkbox input[type="checkbox"] {
        display: none; }
        .contenedor-formulario .formulario .input-grupo.checkbox input[type="checkbox"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-grupo.checkbox input[type="checkbox"]:checked + label {
          background: #303F9F;
          color: #f2f2f2;
          padding: 5px 15px; }
    .contenedor-formulario .formulario input[type="submit"] {
      background: #303F9F;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto", Arial;
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contenedor-formulario .formulario input[type="submit"]:hover {
        background: #1976D2; }

/* ***FIN FORMULARIO*** */
/* ***PIE DE PAGINA*** */
.pie {
  border-radius: 5px 5px 5px 5px;
  clear: both;
  color: #333333;
  font-size: 90%;
  text-align: center; }
  .pie .nombre:hover {
    background: -o-linear-gradient(#007A00, #FFD700, #B22121);
    background: -ms-linear-gradient(#007A00, #FFD700, #B22121);
    background: -moz-linear-gradient(#007A00, #FFD700, #B22121);
    background: -webkit-linear-gradient(#007A00, #FFD700, #B22121);
    border-radius: 19px;
    color: black;
    cursor: pointer;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease; }

/* ***FIN PIE DE PAGINA*** */
#barra-texto {
  font: 13px Calibri;
  padding-top: 7px; }

#span {
  font: 50px GoudyIni; }

@media screen and (max-width: 767px) {
  .sangria2 {
    padding-left: 40px; }

  .imagen-presentacion {
    display: none !important; }

  .barras {
    padding-left: 50px; } }

/*# sourceMappingURL=estilos.css.map */
